.button_a {
    border: none;
    padding: 0 10px;
    background: transparent;
    cursor: pointer;
    margin: 0;
}

.ingredient_list {
    width: 100%;
}

.ingredient_items {
    display: inline-block;
    width: 13.93%;
    vertical-align: top;
}

.standard_tacos_list {
    width: 100%;
}

.taco_items {
    display: inline-block;
    width: 33%;
    vertical-align: top;
}