<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Reset password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<header th:insert="fragments/headerAnonymous :: header"></header>

<div class="container mt-5">

    <br><br>

    <form name="f" method="post" th:action="@{/reset-password}">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Email :</label>
            <div class="col-sm-6">
                <label>
                    <input type="text" name="email" id="email" class="form-control" placeholder="example@list.com"/>
                </label>
            </div>
        </div>

        <input type="submit" value="Reset password"/>


        <br/>

        <div th:if="${param.error}" style="color: red">
            Wrong email or password
        </div>

    </form>

</div>

</body>
</html>