<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>New delivery address</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<header>
    <div th:insert="fragments/header :: header"></div>
</header>

<div class="container mt-5">

    <form th:method="POST" th:action="@{/profile/new_delivery_address}" th:object="${deliveryAddress}">

        <br><br>

        <span class="malina_28px_orange">Введите адрес доставки</span>

        <br><br>

        <ul class="delivery_address">
            <li class="delivery_address_items">
                <label for="deliveryStreet" class="helvetica_15px_darkgray">Улица </label>
                <br>
                <input type="text" th:field="*{deliveryStreet}" id="deliveryStreet" size="24"/>
                <div style="color:red" th:if="${#fields.hasErrors('deliveryStreet')}" th:errors="*{deliveryStreet}">Delivery street Error</div>
            </li>
            <li class="delivery_address_items">
                <label for="deliveryStreet" class="helvetica_15px_darkgray">Дом </label>
                <br>
                <input type="text" th:field="*{deliveryBuilding}" id="deliveryBuilding" size="6"/>
                <div style="color:red" th:if="${#fields.hasErrors('deliveryBuilding')}" th:errors="*{deliveryBuilding}">Delivery building Error</div>
            </li>
            <li class="delivery_address_items">
                <label for="deliveryEntrance" class="helvetica_15px_darkgray">Подъезд </label>
                <br>
                <input type="text" th:field="*{deliveryEntrance}" id="deliveryEntrance" size="6"/>
                <div style="color:red" th:if="${#fields.hasErrors('deliveryEntrance')}" th:errors="*{deliveryEntrance}">Delivery entrance Error</div>
            </li>
            <li class="delivery_address_items">
                <label for="deliveryFloor" class="helvetica_15px_darkgray">Этаж </label>
                <br>
                <input type="text" th:field="*{deliveryFloor}" id="deliveryFloor" size="6"/>
                <div style="color:red" th:if="${#fields.hasErrors('deliveryFloor')}" th:errors="*{deliveryFloor}">Delivery floor Error</div>
            </li>
            <li class="delivery_address_items">
                <label for="deliveryApartment" class="helvetica_15px_darkgray">Квартира </label>
                <br>
                <input type="text" th:field="*{deliveryApartment}" id="deliveryApartment" size="6"/>
                <div style="color:red" th:if="${#fields.hasErrors('deliveryApartment')}" th:errors="*{deliveryApartment}">Delivery apartment Error</div>
            </li>
        </ul>

         <br><br>

        <input type="submit" value="Сохранить!" class="submit_button_malina_20px_orange_lightgray"/>

        <br><br><br><br>

    </form>

</div>

</body>
</html>