<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<header>
    <div th:insert="fragments/header :: header"></div>
</header>

<div class="container mt-5">

    <br><br>

    <span class="malina_28px_orange">Оформление заказа</span>

    <br><br>

    <span class="malina_20px_black">Ваш заказ</span>

    <br><br>

    <form th:method="POST" th:action="@{/deleteTaco}" th:object="${taco}">
        <div>
            <th:block th:each="taco : ${cartTacos}">

                <span th:if="${taco.getSize() == 0.75}"
                      th:text="${taco.getName()} + ' ' + 'маленькое' + ' ' + ${taco.getPrice()} + ' byn'"
                      class="helvetica_15px_darkgray"></span>

                <span th:if="${taco.getSize() == 1}"
                      th:text="${taco.getName()} + ' ' + 'среднее' + ' ' + ${taco.getPrice()} + ' byn'"
                      class="helvetica_15px_darkgray"></span>

                <span th:if="${taco.getSize() == 1.25}"
                      th:text="${taco.getName()} + ' ' + 'большое' + ' ' + ${taco.getPrice()} + ' byn'"
                      class="helvetica_15px_darkgray"></span>

                <button name="tacoToDelete" th:value="${taco.getId()}" class="delete_button_helvetica_15px_orange">
                    Удалить
                </button>

                <br>

            </th:block>
        </div>
    </form>


    <form th:method="POST" th:action="@{/cart}" th:object="${purchase}">

        <br>

        <span th:text="'Итого: ' + ${totalPrise} + ' byn'" class="malina_28px_black"></span>

        <br><br>

        <span class="malina_28px_orange">Адрес доставки</span>

        <br><br>

        <label for="deliveryName" class="helvetica_15px_darkgray">Ваше имя </label>
        <br>
        <input type="text" size="24" id="deliveryName" name="deliveryName" th:field="*{deliveryName}" data-toggle="popover"/>
        <div style="color:red" th:if="${#fields.hasErrors('deliveryName')}" th:errors="*{deliveryName}">Delivery name Error</div>

        <br><br>

        <label for="deliveryPhoneNumber" class="helvetica_15px_darkgray">Ваш мобильный телефон </label>
        <br>
        <input type="text" size="24" id="deliveryPhoneNumber" name="deliveryPhoneNumber" th:field="*{deliveryPhoneNumber}"/>
        <div style="color:red" th:if="${#fields.hasErrors('deliveryPhoneNumber')}" th:errors="*{deliveryPhoneNumber}">Delivery phone number Error</div>

        <br><br>

        <ul class="delivery_address">
            <li class="delivery_address_items">
                <label for="deliveryStreet" class="helvetica_15px_darkgray">Улица </label>
                <br>
                <input type="text" th:field="*{deliveryStreet}" id="deliveryStreet" size="24"/>
<!--                <select id="deliveryStreet" name="deliveryStreet">-->
<!--                    <option th:each="deliveryAddress : ${deliveryAddresses}"-->
<!--                            th:value="${deliveryAddress.getId()}"-->
<!--                            th:text="${deliveryAddress.getDeliveryStreet()}">-->
<!--                </select>-->
                <div style="color:red" th:if="${#fields.hasErrors('deliveryStreet')}" th:errors="*{deliveryStreet}">Delivery street Error</div>
            </li>
            <li class="delivery_address_items">
                <label for="deliveryStreet" class="helvetica_15px_darkgray">Дом </label>
                <br>
                <input type="text" th:field="*{deliveryBuilding}" id="deliveryBuilding" size="6"/>
                <div style="color:red;width:100px" th:if="${#fields.hasErrors('deliveryBuilding')}" th:errors="*{deliveryBuilding}">Delivery building Error</div>
            </li>
            <li class="delivery_address_items">
                <label for="deliveryEntrance" class="helvetica_15px_darkgray">Подъезд </label>
                <br>
                <input type="text" th:field="*{deliveryEntrance}" id="deliveryEntrance" size="6"/>
                <div style="color:red;width:100px" th:if="${#fields.hasErrors('deliveryEntrance')}" th:errors="*{deliveryEntrance}">Delivery entrance Error</div>
            </li>
            <li class="delivery_address_items">
                <label for="deliveryFloor" class="helvetica_15px_darkgray">Этаж </label>
                <br>
                <input type="text" th:field="*{deliveryFloor}" id="deliveryFloor" size="6"/>
                <div style="color:red;width:100px" th:if="${#fields.hasErrors('deliveryFloor')}" th:errors="*{deliveryFloor}">Delivery floor Error</div>
            </li>
            <li class="delivery_address_items">
                <label for="deliveryApartment" class="helvetica_15px_darkgray">Квартира </label>
                <br>
                <input type="text" th:field="*{deliveryApartment}" id="deliveryApartment" size="6" required/>
                <div style="color:red;width:100px" th:if="${#fields.hasErrors('deliveryApartment')}" th:errors="*{deliveryApartment}">Delivery apartment Error</div>
            </li>
        </ul>

        <br>

        <label for="deliveryComment" class="helvetica_15px_darkgray">Комментарий к заказу </label>
        <br>
        <input type="text" th:field="*{deliveryComment}" id="deliveryComment" size="83"/>
        <div style="color:red" th:if="${#fields.hasErrors('deliveryComment')}" th:errors="*{deliveryComment}">Delivery Comment Error</div>

        <br>
        <br>

        <!--        <label for="deliveryTime" class="helvetica_15px_darkgray">Время заказа </label>-->
        <!--        <br>-->
        <!--        <div class="form-check form-check-inline">-->
        <!--            <input class="form-check-input" type="radio" name="flexRadioDefault" id="withinTime" />-->
        <!--            <label class="form-check-label" for="withinTime" style="font-size: 15px;font-family:'Helvetica';color: #999999;">В течение 45 минут</label>-->
        <!--        </div>-->
        <!--        <div class="form-check form-check-inline">-->
        <!--            <input class="form-check-input" type="radio" name="flexRadioDefault" id="reservation" />-->
        <!--            <label class="form-check-label" for="reservation" style="font-size: 15px;font-family:'Helvetica';color: #999999;">Предварительный заказ</label>-->
        <!--        </div>-->

        <!--        <br>-->
        <!--        <br>-->

        <!--        <label for="paymentMethod" class="helvetica_15px_darkgray">Способ оплаты </label>-->
        <!--        <br>-->
        <!--        <div class="form-check form-check-inline">-->
        <!--            <input class="form-check-input" type="radio" name="flexRadioDefault" id="onSite" />-->
        <!--            <label class="form-check-label" for="onSite" style="font-size: 15px;font-family:'Helvetica';color: #999999;">На месте</label>-->
        <!--        </div>-->
        <!--        <div class="form-check form-check-inline">-->
        <!--            <input class="form-check-input" type="radio" name="flexRadioDefault" id="byCard" />-->
        <!--            <label class="form-check-label" for="byCard" style="font-size: 15px;font-family:'Helvetica';color: #999999;">Картой онлайн</label>-->
        <!--        </div>-->

        <br><br>

        <span th:text="'Итого: ' + ${totalPrise} + ' byn'" class="malina_28px_black"></span>

        <br><br>

        <input type="submit" value="Заказать!" class="submit_button_malina_20px_orange_lightgray"/>

        <br><br><br><br>

    </form>

</div>

</body>
</html>