<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<header th:insert="fragments/header :: header"></header>

<div class="container mt-5">

    <form th:method="POST" th:action="@{/cart}" th:object="${purchase}">

        <br><br>

        <span style="font-size: 28px;line-height: 1.1;font-family:'ALS Malina';color: #ff5200;">Оформление заказа</span>

        <br><br>

        <span style="font-size: 20px;line-height: 1.1;font-family:'ALS Malina';color: #000000;">Ваш заказ</span>

        <br><br>

        <div>
            <th:block th:each="taco : ${activeTacos}">

                <span th:text="${taco.getName()} + ' ' + ${taco.getPrice()} + ' byn'" style="font-size: 15px;font-family:'Helvetica';color: #999999;"></span>

                <br>

            </th:block>
        </div>

        <br>

        <span th:text="'Итого: ' + ${totalPrise} + ' byn'" style="font-size: 28px;line-height: 1.1;font-family:'ALS Malina';color: #000000;"></span>

        <br><br>

        <span style="font-size: 28px;line-height: 1.1;font-family:'ALS Malina';color: #ff5200;">Адрес доставки</span>

        <br><br>

        <label for="deliveryName" style="font-size: 15px;font-family:'Helvetica';color: #999999;">Ваше имя: </label>
        <br>
        <input type="text" th:field="*{deliveryName}" id="deliveryName" size="24"/>
        <div style="color:red" th:if="${#fields.hasErrors('deliveryName')}" th:errors="*{deliveryName}">Name Error</div>

        <br><br>

        <label for="deliveryStreet" style="font-size: 15px;font-family:'Helvetica';color: #999999;">Улица: </label>
        <br>
        <input type="text" th:field="*{deliveryStreet}" id="deliveryStreet" size="24"/>
        <div style="color:red" th:if="${#fields.hasErrors('deliveryStreet')}" th:errors="*{deliveryStreet}">Street Error</div>
        <br/>

        <br><br>

        <input type="submit" value="Заказать!" style="font-size: 20px;line-height: 1.1;font-family:'ALS Malina';color: #ff5200;background:#e9e9e9;border-width:0;padding: 7px 12px 8px; margin: 0;min-height: 37px;min-width:100px;border-radius: 11px;background-clip: padding-box;"/>

        <br>
        <br>


    </form>

</div>

</body>
</html>