<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Done!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<header th:insert="fragments/header :: header"></header>

<div class="container mt-5">

    <br><br>

    <h5>Ваш заказ готов!</h5>

    <br>

    Подробности заказа высланы на вашу электронную почту.

</div>

</body>
</html>