<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title>Taco</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
            integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<header>
    <div th:insert="fragments/header :: header"></div>
</header>

<div class="container mt-5">

    <form th:method="POST" th:action="@{/}">

        <br><br>

        <div>
            <ul class="standard_tacos_list">

                <th:block th:each="tacoSmallList : ${standardTacos}">
                    <li class="taco_items">

                        <div th:text="${tacoSmallList.get(0).getName()}" class="malina_28px_orange"></div>

                        <br>

                        <span class="helvetica_15px_darkgray">Маленькое</span>
                        <br>
                        <span th:text="${tacoSmallList.get(0).getPrice()}" class="malina_28px_black"></span>
                        <button name="tacoToAdd" th:value="${tacoSmallList.get(0).getId()}" class="submit_button_malina_20px_orange_lightgray">В корзину</button>
                        <br>
                        <span th:text="${tacoSmallList.get(0).getWeight()} + ' грамм'" class="helvetica_12px_darkgray"></span>

                        <br>

                        <span class="helvetica_15px_darkgray">Среднее</span>
                        <br>
                        <span th:text="${tacoSmallList.get(1).getPrice()}" class="malina_28px_black"></span>
                        <button name="tacoToAdd" th:value="${tacoSmallList.get(1).getId()}" class="submit_button_malina_20px_orange_lightgray">В корзину</button>
                        <br>
                        <span th:text="${tacoSmallList.get(1).getWeight()} + ' грамм'" class="helvetica_12px_darkgray"></span>

                        <br>

                        <span class="helvetica_15px_darkgray">Большое</span>
                        <br>
                        <span th:text="${tacoSmallList.get(2).getPrice()}" class="malina_28px_black"></span>
                        <button name="tacoToAdd" th:value="${tacoSmallList.get(2).getId()}" class="submit_button_malina_20px_orange_lightgray">В корзину</button>
                        <br>
                        <span th:text="${tacoSmallList.get(2).getWeight()} + ' грамм'" class="helvetica_12px_darkgray"></span>

                        <br>

                        <th:block th:each="ingredient : ${tacoSmallList.get(1).getIngredients()}">
                        <span th:text="${ingredient.getName()}" class="helvetica_15px_darkgray"></span>
                        </th:block>

                        <br><br>

                    </li>
                </th:block>

                <a href="/new_custom_taco" class="malina_28px_orange">Создать своё кастомное тако</a>

            </ul>
        </div>

        <br>
        <br>


    </form>
</div>

</body>
</html>