<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<header th:insert="fragments/header :: header"></header>

<div class="container mt-5">

    <br><br>

    <div>
        <ul class="standardTacos">
            <th:block th:each="taco : ${standardTacos}">

                <span th:text="${taco.getName()}"></span>
                <th:block th:each="ingredient : ${taco.getIngredients()}">
<!--                    <th:block th:if="${ingredient.getTacoId() == taco.getId()}" th:text="${ingredient.getIngredientName()}"></th:block>-->
                    <th:block th:text="${ingredient.getName()}"></th:block>
                </th:block>
                <br>

            </th:block>
        </ul>
    </div>

    <br><br>

    <p><a href="/new_custom_taco"><img th:src="@{/images/Shakespeare.jpg}"/></a></p>

    <br>

    <a href="/new_custom_taco">Create new custom taco</a>


</div>

</body>
</html>