<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>New Custom Taco</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<header th:insert="fragments/header :: header"></header>

<div class="container mt-5">

    <form th:method="POST" th:action="@{/new_custom_taco}" th:object="${newCustomTaco}">

        <br><br>

        <span class="malina_28px_orange">Выберете лепёшку</span>

        <br>

        <span class="helvetica_15px_darkgray">Вы можете выбрать только один вид лепёшки</span>

        <br><br>

        <div>
            <ul class="ingredient_list">
                <th:block th:each="ingredient : ${wrap}">
                    <li class="ingredient_items" style="text-align: center">
                        <label th:for="'myCheckbox' + ${ingredient.getId()}">
                            <img th:src="@{${ingredient.getImgPath()}}" width="150" height="150" style="display:block;margin:0 auto;"/>
                            <input th:field="*{ingredients}" type="checkbox" th:id="'myCheckbox' + ${ingredient.getId()}" th:value="${ingredient.id}"/>
                            <span th:text="${ingredient.getName()}" class="helvetica_15px_darkgray"></span>
                        </label>
                    </li>
                </th:block>
            </ul>
        </div>


        <br>


        <span class="malina_28px_orange">Выберете белок</span>

        <br>

        <span class="helvetica_15px_darkgray">Вы можете выбрать до двух видов белка</span>

        <br><br>

        <div>
            <ul class="ingredient_list">
                <th:block th:each="ingredient : ${protein}">
                    <li class="ingredient_items" style="text-align: center">
                        <label th:for="'myCheckbox' + ${ingredient.getId()}">
                            <img th:src="@{${ingredient.getImgPath()}}" width="150" height="150" style="display:block;margin:0 auto;"/>
                            <input th:field="*{ingredients}" type="checkbox" th:id="'myCheckbox' + ${ingredient.getId()}" th:value="${ingredient.id}"/>
                            <span th:text="${ingredient.getName()}" class="helvetica_15px_darkgray"></span>
                        </label>
                    </li>
                </th:block>
            </ul>
        </div>


        <br>


        <span class="malina_28px_orange">Выберете добавки</span>

        <br>

        <span class="helvetica_15px_darkgray">Количество видов добавок не ограничено</span>

        <br><br>

        <div>
            <ul class="ingredient_list">
                <th:block th:each="ingredient : ${veggies}">
                    <li class="ingredient_items" style="text-align: center">
                        <label th:for="'myCheckbox' + ${ingredient.getId()}">
                            <img th:src="@{${ingredient.getImgPath()}}" width="150" height="150" style="display:block;margin:0 auto;"/>
                            <input th:field="*{ingredients}" type="checkbox" th:id="'myCheckbox' + ${ingredient.getId()}" th:value="${ingredient.id}"/>
                            <span th:text="${ingredient.getName()}" class="helvetica_15px_darkgray"></span>
                        </label>
                    </li>
                </th:block>
            </ul>
        </div>


        <br>


        <span class="malina_28px_orange">Выберете сыр</span>

        <br>

        <span class="helvetica_15px_darkgray">Количество видов сыров не ограничено</span>

        <br><br>

        <div>
            <ul class="ingredient_list">
                <th:block th:each="ingredient : ${cheese}">
                    <li class="ingredient_items" style="text-align: center">
                        <label th:for="'myCheckbox' + ${ingredient.getId()}">
                            <img th:src="@{${ingredient.getImgPath()}}" width="150" height="150" style="display:block;margin:0 auto;"/>
                            <input th:field="*{ingredients}" type="checkbox" th:id="'myCheckbox' + ${ingredient.getId()}" th:value="${ingredient.id}"/>
                            <span th:text="${ingredient.getName()}" class="helvetica_15px_darkgray"></span>
                        </label>
                    </li>
                </th:block>
            </ul>
        </div>


        <br>


        <span class="malina_28px_orange">Выберете соусы</span>

        <br>

        <span class="helvetica_15px_darkgray">Количество видов соусов не ограничено</span>

        <br><br>

        <div>
            <ul class="ingredient_list">
                <th:block th:each="ingredient : ${sauce}">
                    <li class="ingredient_items" style="text-align: center">
                        <label th:for="'myCheckbox' + ${ingredient.getId()}">
                            <img th:src="@{${ingredient.getImgPath()}}" width="150" height="150" style="display:block;margin:0 auto;"/>
                            <input th:field="*{ingredients}" type="checkbox" th:id="'myCheckbox' + ${ingredient.getId()}" th:value="${ingredient.id}"/>
                            <span th:text="${ingredient.getName()}" class="helvetica_15px_darkgray"></span>
                        </label>
                    </li>
                </th:block>
            </ul>
        </div>

        <br>
        <br>


        <span class="malina_28px_orange">Ваше кастомное тако</span>

        <br><br>

        <label for="name" class="helvetica_15px_darkgray">Введите название вашего тако: </label>

        <br>

        <input type="text" th:field="*{name}" id="name" size="24"/>
        <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>

        <br><br>

        <label for="name" class="helvetica_15px_darkgray">Выберете размер тако:</label>

        <br>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="smallSize" value="0.75" th:field="*{size}"/>
                <label class="form-check-label" for="smallSize" style="font-size: 15px;font-family:'Helvetica';color: #999999;">Маленький</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="mediumSize" value="1.0" th:field="*{size}" checked="checked"/>
                <label class="form-check-label" for="mediumSize" style="font-size: 15px;font-family:'Helvetica';color: #999999;">Средний</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="bigSize" value="1.25" th:field="*{size}"/>
                <label class="form-check-label" for="bigSize" style="font-size: 15px;font-family:'Helvetica';color: #999999;">Большой</label>
            </div>

        <br>
        <br>

        <input type="submit" value="В корзину" class="submit_button_malina_20px_orange_lightgray"/>

        <br>
        <br>

    </form>
</div>

</body>

</html>