<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <title>Личный кабинет</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<header>
  <div th:insert="fragments/header :: header"></div>
</header>

<div class="container mt-5">

  <br><br>

  <span th:text="'Привет, ' + ${username} + '!'" class="malina_28px_orange"></span>

  <br><br>

  <span class="malina_28px_orange">Адреса</span>

  <br><br>

  <div th:if="${deliveryAddresses != null}">
    <th:block th:each="address : ${deliveryAddresses}">
      <span th:text="'улица ' + ${address.getDeliveryStreet()} + ', дом ' + ${address.getDeliveryBuilding()} + ', подъезд '
                    + ${address.getDeliveryEntrance()} + ', этаж ' + ${address.getDeliveryFloor()} + ', квартира '
                    + ${address.getDeliveryApartment()}"
            class="helvetica_15px_darkgray"></span>
      <br>
    </th:block>
    <br>
    <div th:if="${deliveryAddresses.size() <= 5}">
      <a href="/profile/new_delivery_address" class="helvetica_15px_darkgray">Добавить адресс доставки</a>
    </div>
  </div>
  <div th:if="${deliveryAddresses == null}">
    <a href="/profile/new_delivery_address" class="helvetica_15px_darkgray">Добавить адресс доставки</a>
  </div>


  <br>

</div>

</body>
</html>